.env
./idea

/.idea/dataSources/005bc04e-5cc5-407f-8ad4-d0d8eefab8b8.xml
/.idea/dataSources/005bc04e-5cc5-407f-8ad4-d0d8eefab8b8/storage_v2/_src_/database/postgres.edMnLQ/schema/public.abK9xQ.meta
/.idea/dataSources/005bc04e-5cc5-407f-8ad4-d0d8eefab8b8/storage_v2/_src_/database/zant.Le84AA/schema/public.abK9xQ.meta
